<section>

  <%= form_with url: "/users/login", do |f| %>

  <div>
  <%= f.label :name, "ユーザー名" %>
  <%= f.text_field :name %>
  </div>

  <div>
  <%= f.label :password, "パスワード" %>
  <%= f.password_field :password %>
  </div>

  <% end %>
</section>