<section class="user-new user-new__inner">
  <%= form_with url:"/users/create" do |f| %>

<div class="user-new__form-content">
  <li class="user-new__form-item">
    <%= f.label :name, 'ユーザーID' %>
    <br>
    <%= f.text_field :name %>
  </li>

  <li class="user-new__form-item">
    <%= f.label :email, 'メールアドレス' %>
    <br>
    <%= f.email_field :email %>
  </li>

  <li class="user-new__form-item">
    <%= f.label :password, 'パスワード' %>
    <br>
    <%= f.password_field :password , value: @user.password %>
  </li>

  <li class="user-new__form-item">
    <%= f.submit '登録', {class: "btn btn-primary btn-size"} %>
    <button class="btn btn-secondary btn-size">
    <%= link_to("キャンセル","/users/index", {class: "btn__none-decoration"}) %>
    </button>
  </li>
</div>

  <% end %>
</section>