<section class="detail detail__inner">
  <% @post.errors.full_messages.each do |message| %>
  <div>
    <%= message %>
  </div>
  <% end %>


  <%= form_with url:"/posts/#{@post.id}/update" do |f| %>

  <div class="d-flex form">
    <div class="form__left">

      <div>
        <%= f.label :shop_name, '店舗名' %>
        <%= f.text_field :shop_name, class: "form__item form__shop-name", size: "30", value: @post.shop_name %>
      </div>

      <div>
        <%= f.label :area_name, '所在地・最寄り駅' %>
        <%= f.text_field :area_name, class: "form__item form__area-name", size: "30", value: @post.area_name %>
      </div>
      <div>
        <%= f.label :comment, 'コメント' %>
        <%= f.text_area :comment, class: "form__item form__comment",  size: "32x5", value: @post.comment %>
      </div>
    </div>

    <div class="form__right">
      <p class="form__item form__shop-category">店舗カテゴリー</p>
      <%= f.select :shop_category,
       {'カフェ': 'カフェ', 'ファストフード': 'ファストフード', 'レストラン': 'レストラン', '居酒屋': '居酒屋', 'BAR': 'BAR'},
        {selected: @post.shop_category},
         { class: 'form__control' , required: true } %>

      <p class="body-r__product-category">商品カテゴリー</p>
      <%= f.select :product_category, 
       {'飲料': '飲料', '肉': '肉', '魚': '魚', '丼物': '丼物', '麵類': '麵類', 'パスタ': 'パスタ', 'パン': 'パン', 'カレー': 'カレー', 'ハンバーガー': 'ハンバーガー', '和食': '和食', '洋食': '洋食', '中華': '中華'}, 
      {selected: @post.product_category}, 
      { class: 'form__control' , required: true } %>
      <p class="body-r__tag">tag</p>


    </div>
  </div>
  <div class="d-flex form__bottom">
    <div class="form__bottom-img">
      <p class="form__label">image</p>
      <img class="form__img form__img-1" src="<%= "/post_image/fd401527.jpg" %>" alt="">
    </div>
    <div class="form__bottom-btn">

      <%= f.submit '更新', {class: "btn btn-primary btn-lg"} %>
      <%= link_to("キャンセル","/posts/#{@post.id}", {class: "btn btn-secondary btn-lg"}) %>
    </div>
  </div>
  <% end %>
</section>