<section>
  <ul>
    <% @posts.each do |post|%>
    <li class="post post__inner">
      <%=link_to "/posts/#{post.id}", class: "none-decoration post__link" do %>
      <div class="d-flex post__item">
        <img class="post__user-image" src="/default_user_image.jpg" alt="">
        <div class="d-flex post__info">
          <div class="post__info-left">
            <%# <p>user_name</p> %>
            <br>
            <%= l post.created_at %>
          </div>
          <div class="post__info-center">
            <%= post.shop_name %>
            <br>
            <%= post.area_name %>
          </div>
          <div class="post__info-right">
            <%= post.comment %>
          </div>
        </div>
        <img class="post__post-image" src="" alt="">
      </div>
      <% end %>
    </li>
    <% end %>
  </ul>
</section>