<!DOCTYPE html>
<html>

<head>
  <title>AppGourmetReport</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>

<body class="main-visual">
  <header class="header header__inner">
    <nav class="nav">
      <h1 class="nav__ttl">
        <%= link_to("グルレポ", "/",{ class: "none-decoration nav__ttl-link"}) %>
      </h1>
      <ul class="d-flex nav__list">
        <% current_user = User.find_by(id: session[:user_id]) %>
        <% if @current_user %>
        <li class="nav__list-item">
          <div class="nav__list-link">
            <%= link_to(@current_user.name, "/users/#{@current_user.id}", class: "none-decoration") %>
          </div>
        <li class="nav__list-item">
          <%= link_to("ユーザー一覧", "/users/index",{ class: "nav__list-link"}) %>
        </li>
        <li class="nav__list-item">
          <%= link_to("新規投稿", "/posts/new",{ class: "nav__list-link"}) %>
        </li>
        <li class="nav__list-item">
          <%= link_to("投稿一覧", "/posts/index",{ class: "nav__list-link"}) %>
        </li>
        <li class="nav__list-item">
          <%= link_to("ログアウト", "/logout", {method: "post", class: "nav__list-link"}) %>
        </li>

        <% else %>

        <li class="nav__list-item">
          <%= link_to("グルレポとは", "/home/about",{ class: "nav__list-link"}) %>
        </li>
        <li class="nav__list-item">
          <%= link_to("新規登録", "/users/new",{ class: "nav__list-link"}) %>
        </li>
        <li class="nav__list-item">
          <%= link_to("ログイン", "/login",{ class: "nav__list-link"}) %>
        </li>
        <% end %>
      </ul>
    </nav>
  </header>

  <% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
  <% end %>

  <%= yield %>
</body>

</html>