<!DOCTYPE html>
<html>

<head>
  <title>AppGourmetReport</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="main-visual">
  <header class="header header__inner">
    <nav class="nav">
      <h1 class="nav__ttl">
        <%= link_to("グルレポ", "/",{ class: "none-decoration nav__ttl-link"}) %>
      </h1>
      <ul class="d-flex nav__list">
        <li class="nav__list-item">
          <%= link_to("グルレポとは", "/home/about",{ class: "nav__list-link"}) %>
        </li>
        <li class="nav__list-item">
          <%= link_to("ユーザー一覧", "/users/index",{ class: "nav__list-link"}) %>
        </li>
        <li class="nav__list-item">
          <%= link_to("新規登録", "/users/new",{ class: "nav__list-link"}) %>
        </li>
        <li class="nav__list-item">
          <%= link_to("ログイン", "/home/about",{ class: "nav__list-link"}) %>
        </li>
      </ul>
    </nav>
  </header>

  <% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
  <% end %>

  <%= yield %>
</body>

</html>